@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <h2>Komanda "SusirinkeLaborui"</h2>
        <h3>Grupė: IFF-1/7</h3>
        <h3>Komandos Sudėtis:</h3>
        <table>
            <tr><td>Tautvydas Žilys</td></tr>
            <tr><td>Andrius Dapševičius</td></tr>
            <tr><td>Darius Lapūnas</td></tr>
            <tr><td>Karolis Stašaitisvv</td></tr>
        </table>
        <h3>Užduoties aprašas:</h3>
        <p>Programinės įrangos paskirtis – realizuotas Primo algoritmas. Duota n taškų plokštumoje (x, y). Programinė įranga suras trumpiausią juos jungiantį medį ir informatyviai išves rezultatą.</p>
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>